[submodule "node_modules/async"]
	path = node_modules/async
	url = git://github.com/caolan/async.git
[submodule "node_modules/jade"]
	path = node_modules/jade
	url = git://github.com/visionmedia/jade.git
[submodule "node_modules/commander"]
	path = node_modules/commander
	url = git://github.com/visionmedia/commander.js.git
